<h1>New Rental</h1>
<p><B>Message:</B> Due to a bug in the system the time displayed is +3:00 than raleigh time </p>
<%if current_user.isCustomer? %>
    <%= render 'current_user_form', rental: @rental %>
<%else%>
    <%= render 'form', rental: @rental %>
<%end%>
<%= link_to 'Back', cars_path, :class => 'button' %>
