<h1>Create a New Car</h1>

<%if current_user.isCustomer? %>
    <%= render 'suggested_form', car: @car %>
<%else%>
    <%= render 'form', car: @car %>
<%end%>

<%= link_to 'Back', cars_path, :class => 'button' %>
